body {
    background-color: rgb(214, 214, 214);
}

.container{
    width: 250px;
    height: 400px;
    margin: 80px auto;
    border-radius: 10px;
    background: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b68276a9, -5px -5px 10px #ffffff; /*minus values gives inward shadow, so this arrangment gives 3d effect */
}

.cal-box {
    
}